body{

    font-family: 'Poppins', sans-serif;
    margin: 0%;
}


.first-section{
    display: flex;
    flex-direction: column;
}

.header-logo{
    background-image:linear-gradient(pink,orange); 

    height: 180px;
    padding-bottom: 4%;
}
.header-logo img{
    height: 150px;
    width: 80%;
    padding-left: 5%;
    padding-top: 5%;
    
}
.header-pic{

    height: 350px;
    background-image:linear-gradient(orange,pink); 

}

.complete{

    padding-left: 10%;
    padding-top: 10%;
}




























h1{font-size: 50px;}

#one{
 color:rgb(238, 9, 9);
}


.container {
    display:flex;
}
.line {
    margin-top: 48px;
    padding-top: 20px;
    height: 130px;
    border:5px solid pink;
    border-radius: 5px;
}
.heading{

    margin-left: 20px;
    font-family:Broadway;
}

.headder-text-one
{
 color:rgb(15, 78, 2);
 margin-left:0%;
}


.first-class{
    margin-top: 40px;
    font-weight: 700;
}


.two{
    width: 50%;
    padding-left: 10%;
}
p{
    font-weight: 700;
    margin-bottom:50px;
}
.hire-button{
    background-image: linear-gradient(red,orange);
    padding:20px 50px;
    text-decoration:none;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight:700;  
}

.two img{
     width:80%;
     padding-top: 10%;
     padding-bottom: 10%;   
}




.container-two{

    height:200px;
    background-image:linear-gradient(pink,orange); 
    display:flex;
    padding-left:2%;
}
.box3{
     width: 30%;
        margin-left: 4%;
        border-radius: 5%;
       
    }

    .order-list{
text-decoration: none;

    }

.unorder-list{
    display: flex; 
   
}
.list-item-one{
    margin-left:75px;
    padding-right: 160px;
    padding-left: 40px;
    height: 70px;
    width:50%;
   
}
.list-item-two{
    margin-left:95px;
    height: 70px;
    width:50%;
    border-radius: 10px;
   
}
.list-item-one h1{
    padding-left: 20%;
    font-weight: 700;
    height: 80px;
    width: 295px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px black;
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.list-item-one a{
    text-decoration: none;
}
.list-item-two h1{
    padding-left: 20%;
    font-weight: 600;
    height: 80px;
    width: 295px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px black;
    color: green;
    font-family:'Times New Roman', Times, serif;

}
.list-item-two a{
    text-decoration: none;
}

















.big
{
    display:flex;   
    margin: 0%;
    margin-bottom: 0px;
    background: linear-gradient(135deg, orange 60%, cyan);
}
.big-two
{
    display:flex;   
    margin: 0%;
    margin-bottom: 0px;
    background: linear-gradient(orange,pink);
}
.second-class
{
    margin-top:20px;
    padding:auto;
    border-left: 5px solid;
    border-image: linear-gradient(blue ,cyan);
    border-image-slice: 1;
    font-family:Broadway;
}

.zero{
    background-color: orange;
    padding:1%;
}
h1{
    font-size: 75px;

}
#header-font{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.zero h1{

    margin-left: 130px;


}


.headder-text-two
{
 color:rgb(15, 78, 2);
 margin-left:30%;
}

.fotter-a{
    padding-left:2%;
    padding-bottom: 5%;
    display:flex;   
    margin: 0%;
    margin-bottom: 0px;
    background-image: linear-gradient(orange);

    }
    .tarek{
        box-shadow: 5px 5px 5px 5px black;
        width:15%;
        padding: 10px;
        border-radius: 10%;
        margin-left:25px;
        margin-right: 10px;
        Justify-content: space-evenly;
    
    }
    
    .tarek h2{
        color: blanchedalmond;
    }
    #border{
            border-left: 10px solid;
            border-image: linear-gradient(blue ,cyan);
            border-image-slice: 1;
    }
    .tarek img{
        width: 100%;
        border: 1px solid orange;
        border-radius: 40px;
       
    }
   
      
h1{font-size: 50px;}

.one{
 color:rgb(68, 22, 11);
}


p{
    font-weight: 700;
    margin-bottom:50px;
}



h1{font-size: 50px;}


p{
    font-weight: 700;
    margin-bottom:50px;
}

.last-class{

    background-color: black;
    padding:30px;
    padding-left: 37%;
}
.header-font-last-one
{
color:red;

font-style: italic;

}
.header-font-last
{
    color: white;
}


#menu-two h2{

    margin-top: 40px;
}
